# 숫자형

In [1]:
a = 123

In [2]:
print(a)

123

In [3]:
a

123

In [4]:
b = 456

In [7]:
print(a)
print(b)

123
456

In [8]:
a,b

(123, 456)

In [12]:
type(a)

int

In [13]:
a = 1.9
a

1.9

In [14]:
type(a)

float

In [15]:
print()

In [16]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
num1 = input('숫자를 입력하세요 >>>')

숫자를 입력하세요 >>> 555

In [20]:
type(num1)

str

In [21]:
print(num1)

555

In [22]:
# 박스에 과일을 넣는 작업 중입니다.
# 박스당 들어가는 과일의 갯수와 전체 과일의 갯수를 입력받아서
# 몇 박스 몇 개가 남는지 출력합니다.

In [28]:
box_count = input('박스당 들어가는 과일의 갯수를 입력하세요 >>>')
total = input('전체 과일의 갯수를 입력하세요 >>>')

박스당 들어가는 과일의 갯수를 입력하세요 >>> 50
전체 과일의 갯수를 입력하세요 >>> 260

In [33]:
box = int(total) // int(box_count)
count = int(total) % int(box_count)

print(box, '박스, ', count, '개')

5 박스,  10 개

# 문자열 자료형

In [36]:
"hello 'ann'"

"hello 'ann'"

In [37]:
'hello "ann"'

'hello "ann"'

In [38]:
'hello
!!!!'

SyntaxError: EOL while scanning string literal (4287902042.py, line 1)

In [39]:
''' hello
!!!
!!!
'''

' hello\n!!!\n!!!\n'

In [40]:
'1' + 'a'

'1a'

In [41]:
a = 1
a + 1

2

In [43]:
'1' * 4
# 앞의 문자열을 n번 반복해라

'1111'

In [46]:
a = 'Life is too short'
len(a)

17

In [47]:
a = 'Life is too short, You need Python'
a

'Life is too short, You need Python'

In [48]:
a[0]

'L'

In [51]:
a[-1]
# 음수, 뒤에서 접근

'n'

In [53]:
a[0:4]
# 0부터 3까지 문자열 가져옴

'Life'

In [54]:
a[:4]

'Life'

In [55]:
a[-6:]

'Python'

In [70]:
# 주민등록번호를 입력받아서 생년월일과 성별을 출력하세요
# 3항 연산자를 이용 / 조건 ? 참 : 거짓

number = input('주민등록번호를 입력하세요 >>>>')
birth = number[:6]

print('생년월일', birth)
print('성별', '남자' if number[6] == '1' else '여자')

주민등록번호를 입력하세요 >>>> 9710062000000

생년월일 971006
성별 여자

# 문자열 포매팅

In [71]:
"i cat %d apples." % 2

'i cat 2 apples.'

In [72]:
"i cat %d apples. %s" % (2, "end")

'i cat 2 apples. end'

In [76]:
'i eat {:^10, .2f} apples. {}'.format(312321.123456, 'count')

ValueError: Invalid format specifier

In [79]:
name = input('이름을 입력하세요 >>>')
age = input('나이를 입력하세요 >>>')
print(f'이름은 {name}이고 나이는 {age:.1f}살입니다.')

이름을 입력하세요 >>> 홍길동
나이를 입력하세요 >>> 32

ValueError: Unknown format code 'f' for object of type 'str'

In [80]:
a = "hobby"
a.count('i')

0

In [82]:
a = "Python is the best choice"
a.find('b')
# 인덱스값 리턴

14

In [83]:
a.find('k')

-1

In [84]:
','.join('abcd')

'a,b,c,d'

In [85]:
','.join(['abc','edf','78'])

'abc,edf,78'

In [86]:
a = "Life,is,too,short"
a.split(sep=',')

['Life', 'is', 'too', 'short']

In [88]:
money = True
if money:
    print('taxi')
else:
    print('walk')

taxi

In [91]:
if 'money' in['card','money']:
    pass
else:
    print('카드를 꺼내라')

In [97]:
for i in range(2, 10):
    print('-', i, '단-')
    for j in range(1, 10):
        print(i, ' * ', j, ' = ', i * j)
    print('')

- 2 단-
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

- 3 단-
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

- 4 단-
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

- 5 단-
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45

- 6 단-
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

- 7 단-
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

- 8 단-
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

- 9 단-
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [103]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f'{j} * {i} = {j * i :2}', end='   ')
    print()

2 * 1 =  2   3 * 1 =  3   4 * 1 =  4   5 * 1 =  5   6 * 1 =  6   7 * 1 =  7   8 * 1 =  8   9 * 1 =  9
2 * 2 =  4   3 * 2 =  6   4 * 2 =  8   5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
2 * 3 =  6   3 * 3 =  9   4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
2 * 4 =  8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81